@font-face {
    font-family: 'Anton-SC';
    src: url('./fonts/AntonSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Migra';
    src: url('./fonts/Migra-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Migra';
    src: url('./fonts/Migra-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Migra';
    src: url('./fonts/MigraItalic-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Migra';
    src: url('./fonts/MigraItalic-ExtraboldItalic.otf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('./fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('./fonts/SFPRODISPLAYMEDIUM.OTF') format('truetype');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('./fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('truetype');
    font-weight: 200;
    font-style: italic;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

